# Environment
.env

# Backend
backend/tmp/
backend/vetkb-api
backend/api

# Build artifacts
frontend/tsconfig.tsbuildinfo

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
